@{
    Layout = null;
    L2Test.Models.TestModels ListHelp = new L2Test.Models.TestModels();
    string TechID = Path.GetFileName(Request.Url.ToString());
    ViewBag.TechID = TechID;
    ViewBag.ResultsURL = Url.Action("TestResults", "Home", routeValues: null, protocol: Request.Url.Scheme);
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>L2 Test</title>
</head>
<body>
    <div class="SubmitFloat">
        <center><button id="SubmitButton" name="SubmitButton" class="btn btn-info" onclick="SendAnswers();">Submit Test for Grading</button></center>
    </div>
    <div> 
        <ul class="Test" style="list-style-type:none">
            @Html.Raw(ListHelp.TakeTest())
        </ul>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        //Toggel which answer is selected
        $('.TestAnswer').click(function () {
            $(this).toggleClass('SelectedAnswer');
        });
        $('.SelectedAnswer').click(function () {
            $(this).toggleClass('TestAnswer');
        });

        function SendAnswers() {
            var tech = '@(ViewBag.TechID)';
            var list = []; //create list of objects to pass as json data
            for (var i = 0; i < document.getElementsByTagName("li").length; i++) {
                var answer = {};
                var question = document.getElementsByTagName("li")[i]; //get the ID of the question
                answer.tech = tech; //get the tech ID
                answer.question = document.getElementsByTagName("li")[i].getAttribute("id");
                for (var n = 0; n < question.childNodes.length; n++) {
                    var answers = [];
                    if (question.childNodes[n].className == "TestAnswer SelectedAnswer") {
                        answers.push(question.childNodes[n].id);//Get the selected answeres ID as a list.
                    }
                    answer.answers = answers;
                }
                list.push(answer);
            }
            $.ajax({
                url: "@(ViewBag.ResultsURL)",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(list),
                success: function (data) {
                    alert("Test submitted");
                }
            })
        }
    </script>
</body>
</html>
